<div class="top-bar">
  <div class="top-bar-left">
    <div class="columns">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Jake McCann</li>
            <% data.navbar.options.each do |option|%>
              <li>
              <%= partial "partials/navbar_option", :locals => {:option_yml => option}%>
              </li>
            <% end %>
        </ul>
    </div>
  </div>
</div>